In [1]:
import os
import pandas as pd
from aiq_strategy_robot.data.data_accessor import DAL

In [2]:
## load wrapper
from aiq_strategy_robot.data.FINNHUB import load_finnhub_exchange_code, load_finnhub_symbol_lookup

In [3]:
sdh = DAL()

# find the list of supported exchanges

In [4]:
sdh = load_finnhub_exchange_code(sdh, country_name='japan')
sdh.retrieve()

,name,mic,timezone,country,country_name
code,,,,,
T,TOKYO STOCK EXCHANGE-TOKYO PRO MARKET,XJPX,Asia/Tokyo,JP,Japan

In [5]:
load_finnhub_exchange_code(sdh, exchange_name='US').retrieve()

,name,mic,timezone,country,country_name
code,,,,,
BR,NYSE EURONEXT - EURONEXT BRUSSELS,XBRU,Europe/Brussels,BE,Belgium
US,"US exchanges (NYSE, Nasdaq)","XNYS,XASE,BATS,ARCX,XNMS,XNCM,XNGS,IEXG",America/New_York,US,US
VS,NASDAQ OMX VILNIUS,XLIT,Europe/Vilnius,LT,Lithuania
XA,CBOE Australia,CXAP,Australia/Sydney,AU,Australia

In [6]:
load_finnhub_exchange_code(sdh).retrieve()

,name,mic,timezone,country,country_name
code,,,,,
AD,ABU DHABI SECURITIES EXCHANGE,XADS,Asia/Dubai,AE,UAE
AQ,Aquis Exchange,AQSE,Europe/London,GB,UK
AS,NYSE EURONEXT - EURONEXT AMSTERDAM,XAMS,Europe/Amsterdam,NL,Netherlands
AT,ATHENS EXCHANGE S.A. CASH MARKET,ASEX,Europe/Athens,GR,Greece
AX,ASX - ALL MARKETS,XASX,Australia/Sydney,AU,Australia
...,...,...,...,...,...
HA,Hanover Stock Exchange,XHAN,Europe/Berlin,DE,Germany
SX,DEUTSCHE BOERSE Stoxx,,Europe/Berlin,DE,Germany
TG,DEUTSCHE BOERSE TradeGate,XGAT,Europe/Berlin,DE,Germany
SC,BOERSE_FRANKFURT_ZERTIFIKATE,,Europe/Berlin,DE,Germany
SL,Spotlight Stock Market,XSAT,Europe/Stockholm,SE,Sweden

# Look up symbols

In [7]:
load_finnhub_symbol_lookup(
    sdh,
    symbols=['4661.T', '8035.T'],
    exchange_code='T'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,JPY,ORIENTAL LAND CO LTD,4661.T,BBG000HPZ220,None,XJPX,BBG001S9BPK7,4661.T,,Common Stock,4661 JP
1,JPY,TOKYO ELECTRON LTD,8035.T,BBG000BB5BS2,None,XJPX,BBG001S5QVC5,8035.T,,Common Stock,8035 JP

In [8]:
load_finnhub_symbol_lookup(
    sdh,
    tickers=['7203 JP', '9983 JP'],
    exchange_code='T'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,JPY,TOYOTA MOTOR CORP,7203.T,BBG000BCM9N1,None,XJPX,BBG001S6BGT4,7203.T,,Common Stock,7203 JP
1,JPY,FAST RETAILING CO LTD,9983.T,BBG000CLY9R3,None,XJPX,BBG001S82FV9,9983.T,,Common Stock,9983 JP

In [9]:
load_finnhub_symbol_lookup(
    sdh,
    figis=['BBG00JHNKJY8', 'BBG000BPH459'],
    exchange_code='US'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,USD,FOX CORP - CLASS B,FOX,BBG00JHNKJY8,None,XNAS,BBG00JHNKKR3,FOX,,Common Stock,FOX US
1,USD,MICROSOFT CORP,MSFT,BBG000BPH459,None,XNAS,BBG001S5TD05,MSFT,,Common Stock,MSFT US

In [10]:
load_finnhub_symbol_lookup(
    sdh,
    company_names=['alphabet', 'exxon'],
    exchange_code='US'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,USD,ALPHABET INC-CL C,GOOG,BBG009S3NB30,None,XNAS,BBG009S3NB21,GOOG,,Common Stock,GOOG US
1,USD,ALPHABET INC-CL A,GOOGL,BBG009S39JX6,None,XNAS,BBG009S39JY5,GOOGL,,Common Stock,GOOGL US
2,USD,T-REX 2X LNG ALPHABET DLY,GOOX,BBG01KYKF9W1,None,BATS,BBG01KYKFBR2,GOOX,,ETP,GOOX US
3,USD,EXXON MOBIL CORP,XOM,BBG000GZQ728,None,XNYS,BBG001S69V32,XOM,,Common Stock,XOM US

# Appendix

> Handler.load()

Can also be obtained directly from the handler without using the wrapper.<br>
In this case, `data_source` and `data_type` must be specified.

In [11]:
sdh.load(
    'finnhub', 
    data_type='exchange_code',
    country_name='japan'
).retrieve()

,name,mic,timezone,country,country_name
code,,,,,
T,TOKYO STOCK EXCHANGE-TOKYO PRO MARKET,XJPX,Asia/Tokyo,JP,Japan

In [12]:
sdh.load(
    'finnhub', 
    data_type='symbol_lookup',
    symbols=['4661.T', '8035.T'],
    exchange_code='T'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,JPY,ORIENTAL LAND CO LTD,4661.T,BBG000HPZ220,None,XJPX,BBG001S9BPK7,4661.T,,Common Stock,4661 JP
1,JPY,TOKYO ELECTRON LTD,8035.T,BBG000BB5BS2,None,XJPX,BBG001S5QVC5,8035.T,,Common Stock,8035 JP

In [13]:
load_finnhub_symbol_lookup(
    sdh,
    company_names=['drive shack'],
    exchange_code='US'
).retrieve()

,currency,description,displaySymbol,figi,isin,mic,shareClassFIGI,symbol,symbol2,type,ticker
0,USD,DRIVE SHACK INC,DSHK,BBG000BNFJF2,None,OOTC,BBG001S9V4B2,DSHK,,Common Stock,DSHK US
1,USD,Drive Shack Inc,DSHKN,,None,OOTC,,DSHKN,,,DSHKN US
2,USD,Drive Shack Inc,DSHKO,,None,OOTC,,DSHKO,,,DSHKO US
3,USD,Drive Shack Inc,DSHKP,,None,OOTC,,DSHKP,,,DSHKP US